.blog {
    background-color: #f9f9f9;
}

.blog-container {
    margin-top: 100px;
    width: 900px;
}

.blog .title-image {
    height: 200px;
    width: auto;
}

.blog .title-container {
    display: flex;
    padding-top: 25px;
}

.blog .title-container > div{
    margin-right: 20px;
}

.blog .title-container h1 {
    margin-top: 0px;
}