.hero-content {
    position: absolute;
    width: 100%;
    top: 135px;
    color: #fff;
    font-weight: 500;
}

.hero-content-title {
    font-size: 54px;
    font-weight: 500;
    width: 80%;
    margin-top: 10px;
}

.hero-content-teaser {
    font-size: 17px;
    font-weight: 500;
    width: 80%;
}

.download-link {
    display: inline-block;
    margin-top: 27px;
}

.download-link > a {
    background-color: #066b98;
    padding: 15px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
}

.download-link img {
    margin-right: 10px;
}

.download-link > a:hover {
    background-color: #0166a0;
}

@media(max-width: 900px) {
    .hero-content-title {
        font-size: 40px;
        width: 100%;
    }
}