.nav-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: background-color 0.25s ease;
    z-index: 8999;
}

.logo-link {
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.logo {
    display: block;
    width: auto;
    height: 100px;
}

.nav-list {
    list-style: none;
    display: flex;
    font-size: 18px;
    padding-left: 0px;
}

.nav-link {
    display: flex;
}

.nav-link > a {
    padding: 10px 20px;
    line-height: 45px;
}

.nav-link:hover {
    background-color: rgba(255,255,255,0.9);
    color: #1986c5;
    cursor: pointer;
}

/* when scrolled */
.scrolled {
    background-color: #f3f5f7;
    color: #1986c5;
    border-bottom: 1px solid #0a93eb;
}

.scrolled .navbar {
    color: #666;
}

.mobile-icon {
    display: none;
    height: fit-content;
}

@media(max-width: 900px) {
    .nav-wrapper.mobile-expanded {
        height: 100%;
        border-bottom: none;
        background-color: #f3f5f7;
    }

    .navbar > div:first-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .mobile-expanded .navbar {
        flex-direction: column;
    }

    .mobile-expanded .nav-list {
        flex-direction: column;
    }

    .mobile-expanded .nav-list {
        display: flex;
    }

    .mobile-expanded .nav-link a{
        margin: auto;
        color: #666;
    }

    .mobile-expanded .icon-line {
        background-color: #0a93eb !important;
    }

    .mobile-icon {
        display: block;
        margin-top: 15px;
    }

    .mobile-expanded .mobile-icon {
        position: relative;
        margin-top: 18px;
    }

    .mobile-expanded .icon-line:first-child {
        transform: rotate(-45deg)
    }

    .mobile-expanded .icon-line:nth-child(2n) {
        transform: rotate(45deg);
        position: absolute;
        top: -4px;
    }

    .mobile-expanded .icon-line:nth-child(3n) {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .icon-line {
        background-color: #fff;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

    .icon-line:not(:first-child) {
        margin-top: 4px;
    }

    .scrolled .icon-line {
        background-color: #0a93eb;
    }
}
  