.partners {
    background-color: #f9f9f9;
    padding: 35px 0px 45px 0px;
}

.partners .content-title {
    margin-bottom: 40px;
}

.partners-list {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.partners-list img {
    width: auto;
    height: 70px;
    margin-top: 20px;
}

.msi-logo {
    background-color: black;
}