.price-tool {
    padding: 100px 0px;
}

.price-tool .container {
    margin-top: 45px;
}

#space_choice {
    padding-left: 5px;
}

.price-tool input, .price-tool select {
    border: 1px solid black;
    width: 225px;
}

.pt-input-container {
    margin-top: 30px;
}

.pt-input-container label {
    margin-bottom: 10px;
    display: inline-block;
}

form .pt-input-container {
    display: flex;
}

.grey-bar {
    display: block;
    height: 1px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    flex: 2;
    margin: 0px 50px;
    align-self: center;
    min-width: 50px;
    max-width: 50px;
}

.input-description {
    align-self: center;
}

.centered-inputs {
    justify-content: center;
}

.pt-input-container.centered-inputs {
    margin: 50px 0px;;
}

.centered-inputs span:first-child {
    margin-right: 40px;
}

.pt-input-container.centered-inputs input {
    width: 300px;
}

.pt-input-container:last-child > span, .pt-input-container:last-child > input {
    margin: auto;
}

.pt-input-container:last-child > span {
    color: #066b98;
}

.form-submit {
    background-color: #066b98;
    padding: 15px 30px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    color: white;
    width: auto !important;
    border: none !important;
}

.form-submit:hover {
    background-color: #0166a0;
}

/* loading spinner */
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #066b98;
    border-color: #066b98 transparent #066b98 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  