.price-tool {
    padding: 100px 0px;
}

.price-tool .container {
    margin-top: 45px;
}

#space_choice {
    padding-left: 5px;
}

.price-tool input, .price-tool select {
    border: 1px solid black;
    width: 225px;
}

.pt-input-container {
    margin-top: 30px;
}

.pt-input-container label {
    margin-bottom: 10px;
    display: inline-block;
}

form .pt-input-container {
    display: flex;
}

.grey-bar {
    display: block;
    height: 1px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    flex: 2;
    margin: 0px 50px;
    align-self: center;
    min-width: 50px;
    max-width: 50px;
}

.input-description {
    align-self: center;
}

.centered-inputs {
    justify-content: center;
}

.pt-input-container.centered-inputs {
    margin: 50px 0px;;
}

.centered-inputs span:first-child {
    margin-right: 40px;
}

.pt-input-container.centered-inputs input {
    width: 300px;
}

.pt-input-container:last-child > span, .pt-input-container:last-child > input {
    margin: auto;
}

.pt-input-container:last-child > span {
    color: #066b98;
}

.pt-input-container .submit-btn {
    padding: 15px 30px;
    display: flex;
    color: white;
    width: auto !important;
    border: none !important;
}

