.what-we-do {
    background-color: #f3f5f7;
    padding: 35px 0px;
}

.what-we-do.content-title {
  margin-bottom: 40px;
}

.wwd-graphic {
    width: auto;
    height: 400px;
}

.what-we-do .content-text:last-child {
  margin-top: 30px;
  font-weight: 500;
}
