.what-we-do {
    background-color: #f3f5f7;
    padding: 35px 0px 50px 0px;
}

.what-we-do .column-left {
  display: flex;
  flex-direction: column;
}
.graphic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graphic-container img {
  align-self: center;
}

.what-we-do.content-title {
  margin-bottom: 40px;
}

.wwd-graphic {
    width: auto;
    height: 400px;
}

.what-we-do .content-text:last-child {
  margin-top: 30px;
  font-weight: 500;
}

.what-we-do .download-link {
  color: white;
  font-weight: 500;
  width: fit-content;
}

.what-we-do .download-link a {
  background-color: #1caadd;
}

.what-we-do .download-link a:any-link {
  color:#fff;
}

.what-we-do .download-link a:-webkit-any-link {
  color:#fff;
}

.what-we-do .download-link a:hover {
  background-color: #0192ca;
}

.what-we-do .download-link a:visited {
  color: inherit;
}

@media(max-width: 1200px) {
  .wwd-graphic {
      height: 300px;
  }
}

@media(max-width: 900px) {
  .wwd-graphic {
    height: 200px;
  }

  .graphic-container {
    display: none;
  }

  .what-we-do .download-link {
    align-self: center;
  }
}