.hero {
    height: 610px;
    background-color: #0486d1;
    background-image: url("./content/images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.content-border {
    border-bottom: 1px solid #ccc;
}

.content-title {
    color: #066b98;
    font-weight: 500;
    font-size: 32px;
}

.content-text {
    color: #666;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
}

.two-column {
    display: flex;
}

.column-left {
    margin-right: 50px;
}

input, textarea {
    font: inherit;
}

.bold {
    font-weight: 500;
}

/* .ReactModal__Body--open {
    overflow: hidden;
} */

.ReactModal__Overlay {
    z-index: 9000;
}

.ReactModal__Content {
    z-index: 9001;
    width: 50%;
    margin: auto;
    height: fit-content;
}

@media(max-width: 1200px) {
    .hero {
        height: 710px;
    }
}

@media(max-width: 900px) {
  .two-column {
      flex-direction: column;
      text-align: center;
  }

  .column-left {
      margin-right: 0px;
  }
}
